.container{
    position: relative;
    display: inline-block;

}
.discount{
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: black;
    color: white;
    padding: 5px 7px 5px 7px;
}
.outline{
    display: flex;
    position: absolute;
    bottom: 0px;
    top: 220px;
    /* padding: 50px 0px 10px 0px; */
    justify-content: center;
    
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.buy{
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}